@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Montserrat:wght@300&family=Orbitron&family=Work+Sans:wght@300&display=swap');

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  height: 1000px;
  background: linear-gradient(0.25turn, #000,#ea9f15);
  /*background-image:  url('../src/0000001.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;*/
}

::selection {
  background-color: rgb(145, 145, 145);
}
.test {
  font-size: 40px;
  color: #fff;
}
a {
  text-decoration: none;
  color: #ffa500;
  transition: color .3s ease-in;
}
a:hover {
  color: rgb(0, 204, 255);
}

.mo{
  font-family: 'Montserrat';
}
.or {
  font-family: 'Orbitron';
}

/*---------------------------header---------------------------*/


.page-header {
  background: rgba(0, 0, 0, 0.9);
  height: 70px;
  z-index: 999;
}

.header-container {
  width: 80%;
  margin: 0 auto;
}

.page-header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 26px;

  position: relative;
}

nav a {
  color: #ffa500;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #ffa500;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #ffa500;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.logo {
  height: 55px;
  width: 54px;
  border-radius: 50px;
  float: left;
  margin-left: -10%;
  margin-top: 3.5px;
  user-select: none;
  box-shadow: 3px 4px 8px #ffa500;
  transition: all .3s ease-out;
}
.logo:active {
  box-shadow: none;
  margin-top: 7px;
  margin-left: -9.5%;
}

.navbar-btn {
  height: 45px;
  width: 45px;
  background: transparent;
  color: #ffa500;
  cursor: pointer;
  transition: all .3s ease-out;
  border-radius: 10px;
}

.navbar-btn:hover {
  background-color: rgba(255, 153, 0, 0.3);
}

.navbar-btn-right {
  margin-right: -10%;
  margin-left: 10%;
}

/*---------------------------header---------------------------*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000;
}
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-thumb {
  background-color: #F90;
  background-image: -webkit-linear-gradient(45deg,
rgba(255, 255, 255, .2) 25%, transparent 25%, 
transparent 50%, rgba(255, 255, 255, .2) 50%,
rgba(255, 255, 255, .2) 75%, transparent 75%, 
transparent)
}
/*-------------------------------------------------------------*/
.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
  font-size: 20px;
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}


#footer {
  font-size: 25px;
  font-family: 'Montserrat';
  background-color: rgba(41, 41, 41, .5);
  padding: 70px;
}

/*-------------------------------------------------------------*/

.img-container {
  position: relative;
  width: 360px;
  height: 640px;
  background: rgba(0, 0, 0, 0);
  transform: rotate(-25deg) skew(25deg) scale(0.5);
  transition: .4s;
  margin: 0 auto;
  margin-top: -35px;
}

.img-container img {
  position: absolute;
  width: 100%;
  transition: .4s;
}

.img-container:hover img:nth-child(4) {
  transform: translate(160px, -160px);
  opacity: 1;
}

.img-container:hover img:nth-child(3) {
  transform: translate(120px, -120px);
  opacity: 0.8;
}

.img-container:hover img:nth-child(2) {
  transform: translate(80px, -80px);
  opacity: 0.6;
}

.img-container:hover img:nth-child(1) {
  transform: translate(40px, -40px);
  opacity: 0.4;
}
